<a href="{{result.url}}">
	<small>{{result.url}}</small>
	</a>
	 <a href="#" class="result-title">
		<h1>{{result.title}}</h1></a>
		<p>
			{{result.description}}
		</p>
		<ul class="links">
			{{#each result.links as |link|}}
			<li><a href="{{link.url}}" target="_blank">JavaScript Introduction</a></li>
			{{/each}}
	 </ul>
